table{
	border: none;
}
td, th{
	border: gray 1px solid;	
}

ol li{
	background: green;
}

.mazwaKlasy{
	color: red;
}

#nazwaId{
	font-size: 2.0em;
}

.niebieski{
background:blue;
color:yellow;
font-size: 1.2 em;
	
}
.polowa{
	position: relative;
	 width: 50%;
/* 	 float: right; */
	z-index: 2; 
	
}
#ugury{
	color:blue;
	top: 100%;
	left: 50%;
} 
.paremt{
	position: relative;
}
.tlo{
	position: absolute;
	top: 0;
	left :35%;
	min-width:300px;
	min-height:300px;
	max-height:300px;
	max-width:300px;
	width:300px;
	height:300px;
	
	background: red;
	z-index: 1;
	
	
}